{% extends 'main_template.html' %} {% block header %}
<h1>{% block title %}Cadastrar Musicas{% endblock %}</h1>
{% endblock %} {% block content %}

<form action="form_adicionar_musica.html">
  <p>Musica: <input type="text" name="musica" value="Como tudo deve ser" /></p>
  <p>Cantor: <input type="text" name="cantor" value="Charlie Brown Jr" /></p>
  <p>Gênero: <input type="text" name="genero" value="Rap" /></p>

  <button>Cadastrar</button>
</form>

{% endblock %}
