{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de Musicas{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_musica") }}">Cadastrar nova Musica</a>
</p>

<table border="1">
    <tr>
        <td>Musica</td>
        <td>Cantor</td>
        <td>Gênero</td>
    </tr>

    {% for p in musicas %}
    <tr>
        <td>{{p.musica}}</td>
        <td>{{p.cantor}}</td>
        <td>{{p.genero}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
